path_input_issue_report: /tmp/reports/source-issue-reports.csv
path_output_reports_path: /tmp/reports/

enums_mappings:
  assignee_by_team:
    team_a:
      - ...
    team_b:
      - ...
    team_c:
      - ...
    team_d:
      - ...

  area_by_team:
    team_a:
      - ...
    team_b:
      - ...
    team_c:
      - ...
    team_d:
      - ...

  status_by_progress:
    todo:
      - ...
    doing:
      - ...
    done:
      - ...